{% extends 'base.html' %}
{% load static %}


{% block 'head' %}
    <link rel="stylesheet" href="{% static 'css/cadastroLogin.css' %}">
{% endblock %}

{% block 'conteudo' %}
    
    <div class="conteudo">

        {% if messages %}
        <ul class="erro">
            {% for message in messages %}
                <li> <mark>{{ message }}</mark> </li>
            {% endfor %}
        </ul>
        {% endif %}

        <form action="" method="post">
            <h2>Login</h2>
            {% csrf_token %}
            {% comment %} <label for="username">Nome de Usuário:</label> {% endcomment %}
            
            <input 
                type="text" 
                name="username" 
                placeholder="Nome de Usuário"
                autocomplete="off"
                required >

            {% comment %} <label for="password">Senha:</label> {% endcomment %}
            <input 
                type="password" 
                name="password" 
                placeholder="Senha"
                required >

            <button class="botaoLogin" type="submit">Entrar</button>

            <div class="mensagem">
                <a href="{% url 'cadastro' %}">
                    <p>
                        Não possui uma conta? <b>Cadastre-se!</b>
                    </p>
                </a>
            </div>


        </form>
    </div>
{% endblock %}